html,
body {
	background-color: #191c1d;
	background-size: cover;
	background-repeat: repeat;
	font-family: 'Numans', sans-serif;
	color: #ffffff;
}

.bg-cyan {
	background-color: #17a2b8 !important;
}

hr {
	background-color: #17a2b8 !important;
}

.my-custom-scrollbar {
	position: relative;
	height: 600px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}

.cards {
	border-radius: 0;
	background-color: #222627;
}

.flat {
	border-radius: 0;
}
